body{

font-family:Arial;
background:linear-gradient(135deg,#4facfe,#00f2fe);
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;

}

.container{

background:white;
padding:40px;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
text-align:center;
width:420px;

}

input{

padding:10px;
width:80%;
margin:10px;
border-radius:5px;
border:1px solid #ccc;

}

button{

padding:10px 20px;
background:#4facfe;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
transition:0.3s;

}

button:hover{

background:#0077ff;
transform:scale(1.05);

}

.btn{

display:block;
padding:12px;
margin:15px;
background:#4facfe;
color:white;
text-decoration:none;
border-radius:6px;
transition:0.3s;

}

.btn:hover{

background:#0077ff;
transform:scale(1.05);

}

.studentRow{

display:flex;
justify-content:space-between;
padding:6px;
border-bottom:1px solid #eee;

}

.fade{

animation:fade 1s;

}

.slide{

animation:slide 1s;

}

@keyframes fade{

from{opacity:0}
to{opacity:1}

}

@keyframes slide{

from{
opacity:0;
transform:translateY(50px)
}

to{
opacity:1;
transform:translateY(0)
}

}
